body{
    margin: 0rem;
}

header{
    border-bottom: none;
}

nav{
    background-color:#006666;
    color: #fefee4;
    line-height: 3.5rem;

    border-bottom-width: 1.25rem;
    border-bottom-color: #CC3300;
    border-bottom-style: solid;
    
    /*flex display*/
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.site_name{
    color: #fefee4;
    font-size: 2.5rem;
    text-align: center;
    
    flex-grow: 2;
    align-self:center;
}

/* search bar */
form{
    /* flex item from nav flex */
    align-self: center;
    flex-grow: 2;
}
div.search_bar{
    padding: 1rem;
    /*flex display*/
    display: flex;
    justify-content: center;
}
div.search_bar input[type=search]{
    /* bar itself */
    width: 14rem;
    padding: 0.2rem;
    outline: 0.1rem ridge;
    outline:darkgrey;
    border-radius: 2rem;

    /* its content */
    background-color:azure;
}

/* list container */
ul.container{
    list-style: none;

    flex-grow: 6;

    /*flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}
div.latest{
    color: #fefee4;
    font-size: 1.75rem;
}
div.categories{
    color: #fefee4;
    font-size: 1.75rem;
}
div.about{
    color: #fefee4;
    font-size: 1.75rem;
}

/*
div.news{
    background-color: white;
    color: #006666;
    line-height: 0.5rem;

    border-top-width: 0.5;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-width: 0.5;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-left: none;
    border-right: none;
}
*/

/*for main page*/
main{
    border-top: none;

}
section.main_posts{
    background-color: #fefee4;
    
}

section.infos{
    background-color: rgb(255, 254, 235);
}

section.categories{
    background-color: white;
}

footer{
    background-color: #006666;
    color: #fefee4;
}

/* other things */
a{
    color: #fefee4;
    text-decoration: none;
}

input{
    background-color: white;
    color: black;
}

hr{
    margin: 0rem;
}