:root{
    --darkblue: #00468B;
    --lightblue: #008BD0;
    --lightred: #FF715B;
    --white: #FFFFFF;
    --lightgray: #DFDFDF;
    --twitter: #00acee;
    --twitter-outline: rgb(122, 203, 235);
    --reddit: #FF5700;
    --reddit-outline: #fe9e6d;
    --youtube: #c4302b;
    --youtube-outline: #c46c69;
}

/* elements */
h2.titles{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: var(--white);
    font-size: 1.875rem;
    color: var(--darkblue);
}
h3{
    margin: 2.5vh;
    color: black;
}
p.description{
    margin: 2.5vh;
}
h2.twitter{
    margin-top: 0vh;
    margin-bottom: 2.5vh;
    background-color: var(--white);
    color: var(--twitter)

}
h2.reddit{
    margin-top: 7.5vh;
    margin-bottom: 2.5vh;
    background-color: var(--white);
    color: var(--reddit);

}
h2.youtube{
    margin-top: 7.5vh;
    margin-bottom: 2.5vh;
    background-color: var(--white);
    color: var(--youtube);
}

/* homepage */
/* popular works */
section.most_reviewed{
    padding-top: 2.5vh;
    padding-bottom: 5vh;
    padding-left: 0vh;
    padding-right: 0vh;
    background-color: var(--white);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
}
div.most_reviewed{
    max-width: 31.6%;
    border: 0.1rem solid var(--darkblue);
    background-color: var(--white);
    flex-grow: 1;
}
div.most_reviewed:hover{
    outline: 0.2rem outset var(--lightblue);
    transition: 100ms;
}
/* categorized works */
section.categories{
    padding-top: 2.5vh;
    padding-bottom: 5vh;
    padding-left: 0vh;
    padding-right: 0vh;
    background-color: var(--white);
}
div.twitter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
}
div.twitter_post{
    max-width: 31.6%;
    border: 0.1rem solid var(--twitter);
    background-color: var(--white);
    flex-grow: 1;
}
div.twitter_post:hover{
    outline: 0.2rem outset var(--twitter-outline);
    transition: 100ms;
}

div.reddit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
}
div.reddit_post{
    max-width: 31.6%;
    border: 0.1rem solid var(--reddit);
    background-color: var(--white);
    flex-grow: 1;
}
div.reddit_post:hover{
    outline: 0.2rem outset var(--reddit-outline);
    transition: 100ms;
}

div.youtube{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
}
div.youtube_post{
    max-width: 31.6%;
    border: 0.1rem solid var(--youtube);
    background-color: var(--white);
    flex-grow: 1;
}
div.youtube_post:hover{
    outline: 0.2rem outset var(--youtube-outline);
    transition: 100ms;
}


/* footer */
footer{
    background-color: var(--darkblue);
    color: #fefee4;
    margin: 0rem;
}


/* to be removed in the future */
hr{
    background-color: black;
    margin: 0rem;
}
