:root{
    --darkblue: #00468B;
    --lightblue: #008BD0;
    --lightred: #FF715B;
    --white: #FFFFFF;
    --lightgray: #DFDFDF;
    --opo_white: #292C35;
    --opo_post: #595b64;
    --opo_shadow: #3b3d46;
    --pink: #E75480;
}

body{
    margin: 0vh;
}


/* top bar */
header.site_header{
    margin: 0vh;
    border-bottom: 0.1vh solid black;
}
nav.navig_line{
    padding-left: 5vh;
    padding-right: 5vh;
    line-height: 2.5rem;

    border-bottom-width: 2vh;
    border-bottom-color: var(--lightblue);
    border-bottom-style: solid;

    background-color: var(--darkblue);
    
    /*flex display*/
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    column-gap: 2.5vh;
}

/*left container */
div.left_container{
    flex-grow: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 2.5vh;
}
/* site name / logo */
div.site_name{
    font-size: 2.25rem;
    text-align: left;
}
a.site_name{
    color: var(--lightgray);
    text-decoration: none;
}
a.site_name:hover{
    color: var(--white);
}
/* search bar */
form{
    flex-grow: 1;
}
div.search_bar{
    display: flex;
    justify-content: center;
}
div.search_bar input[type=search]{
    /* bar itself */
    width: 80%;
    padding: 0.2rem;
    border-radius: 1.5rem;

    /* its content */
    background-color: var(--white);
    color: black;
}
input:hover{
    outline: 0.1rem solid var(--white);
    transition: 200ms;
}

/* menu - options */
ul.right_container{
    list-style: none;
    padding: 0rem;
    flex-grow: 4;
    /* new flex for future items*/
    display: flex;
    
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
ul.right_container:hover{
    background-color: var(--darkblue);
    transition: 200ms;
}
li.latest{
    font-size: 1.5rem;
    text-align: center;

    flex-grow: 1;
    flex-basis: 0;
}
li.latest:hover{
    background-color: var(--lightblue);
    color: white;
    border-radius: 1.5rem;

    transition: 400ms;
}
li.categories{
    font-size: 1.5rem;
    text-align: center;

    flex-grow: 1;
    flex-basis: 0;
}
li.categories:hover{
    background-color: var(--lightblue);
    color: white;
    border-radius: 1.5rem;

    transition: 400ms;
}
li.about{
    font-size: 1.5rem;
    text-align: center;

    flex-grow: 1;
    flex-basis: 0;
}
li.about:hover{
    background-color: var(--lightblue);
    color: white;
    border-radius: 1.5rem;

    transition: 400ms;
}
li.statistics{
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}
li.statistics:hover{
    background-color: var(--lightblue);
    color: white;
    border-radius: 1.5rem;
    transition: 400ms
}
a.menu_option{
    color: var(--lightgray);
    text-decoration: none;
}
a.menu_option:hover{
    color: var(--white);
}
/* theme button - to be styled soon */
div.change_theme input[type=checkbox]{
    transform: scale(150%);
    /* opacity: 0; */
}
/*
label.label_for_checkbox{
}
input.checkbox:checked + label.label_for_checkbox{
} 
*/
/* faculty logo */
a.faculty{
    background-color: var(--white);
    display: flex;
}
a.faculty:hover{
    outline: 0.1rem solid var(--white);
    transition: 200ms;
}
img.faculty_logo{
    align-self: center;
    height: 2.5rem;
    width: 2.5rem;
}


/* main content */
main{
    padding: 5vh;
}


/* footer */
footer.footer{
    border-top-width: 0.38rem;
    border-top-style: solid;
    border-top-color: var(--lightblue);
    background-color: var(--darkblue);
    color: var(--lightgray);
    margin: 0rem;
}


/* responsive design */
.menu-btn{
    position:absolute;
    top:30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
.search-btn{
    position:absolute;
    top:30px;
    right: 80px;
    width: 35px;
    cursor: pointer;
    display: none;
}

@media (max-width: 900px){
    nav {
        padding: 0rem;
    }
    a.faculty{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .search-btn{
        display: block;
    }
    .right_container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: var(--darkblue);
        margin-top: -1000px;
        transition:all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    
    }
     .search_bar{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        background-color: var(--darkblue);
        margin-top: -1000px;
        transition:all 0.5s ease;
    }
    .search_menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;

    }
    .container li {
        margin:30px auto;
    }
    div.change_theme{
        display:none;
    }
}


/* change theme */
body.dark-theme{
    background-color: var(--opo_white);
    transition: all 250ms;
}
nav.dark-theme{
    border-bottom-color: var(--pink);
    background-color: var(--opo_white);
    transition: all 250ms;
}
div.dark-theme input[type=search]{
    background-color: var(--opo_post);
    color: var(--white);
    transition: all 250ms;
}
ul.dark-theme{
    background-color: var(--opo_white);
    transition: all 250ms;
}
ul.dark-theme:hover{
    background-color: var(--opo_white);
}
li.dark-theme:hover{
    background-color: var(--opo_shadow);
}
a.dark-theme{
    color: var(--pink);
    transition: all 250ms;
}
a.dark-theme:hover{
    color: var(--white);
}
footer.dark-theme{
    border-top-color: var(--pink);
    background-color: var(--opo_white);
    transition: all 250ms;
}
