body{
    margin: 0rem;
}

nav{
    background-color: #00468B;
    line-height: 2.5rem;

    border-bottom-width: 0.77rem;
    border-bottom-color: #128FC8;
    border-bottom-style: solid;
    
    /*flex display*/
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}

div.site_name{
    font-size: 2.25rem;
    text-align: center;
    flex-grow: 1;
}

/* search bar */
form{
    /* flex item from nav flex */
    flex-grow: 1;
}
div.search_bar{
    padding: 1rem;
    /*flex display*/
    display: flex;
    justify-content: center;
}
div.search_bar input[type=search]{
    /* bar itself */
    width: 14rem;
    padding: 0.2rem;
    outline: 0.1rem ridge;
    outline:darkgrey;
    border-radius: 1.5rem;

    /* its content */
    background-color:azure;
}

/* list container & items */
ul.container{
    list-style: none;
    padding: 0rem;
    border: 0.1rem solid #00468B;
    border-radius: 1.5rem;

    flex-grow: 4;
    /* new flex for future items*/
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
ul.container:hover{
    background-color: #00468B;
    border: 0.1rem solid white;
    border-radius: 1.5rem;

    transition: 200ms;
}
li.latest{
    font-size: 1.5rem;
    text-align: center;

    flex-grow: 1;
    flex-basis: 0;
}
li.latest:hover{
    background-color: #128FC8;
    color: white;
    border-radius: 1.5rem;

    transition: 500ms;
}
li.categories{
    font-size: 1.5rem;
    text-align: center;

    flex-grow: 1;
    flex-basis: 0;
}
li.categories:hover{
    background-color: #128FC8;
    color: white;
    border-radius: 1.5rem;

    transition: 500ms;
}
li.about{
    font-size: 1.5rem;
    text-align: center;

    flex-grow: 1;
    flex-basis: 0;
}
li.about:hover{
    background-color: #128FC8;
    color: white;
    border-radius: 1.5rem;

    transition: 500ms;
}

/*
div.news{
    background-color: white;
    color: #006666;
    line-height: 0.5rem;

    border-top-width: 0.5;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-width: 0.5;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-left: none;
    border-right: none;
}
*/

/*for main page*/
main{
    border-top: none;

}
section.main_posts{
    background-color: white;
    
}

section.infos{
    background-color: white;
}

section.categories{
    background-color: white;
}

footer{
    background-color: #00468B;
    color: #fefee4;
    margin: 0rem;
}

/* other things */
a{
    color:lightgray;
    text-decoration: none;
}
a.site_name:hover{
    color:white;
}
a.list:hover{
    color:white;
}

input{
    background-color: white;
    color: black;
}

hr{
    
    background-color: black;
    margin: 0rem;
}

h2{
    background-color: #008bd0;
    color: ghostwhite;
}
.menu-btn{
    position:absolute;
    top:30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}


@media (max-width: 850px){
    nav {
        padding: 0;
    }
    .menu-btn{
        display: block;
    }
    .container{
        
        flex-direction: column;
       
        width: 100%;
        
        justify-content: center;
        background-color: #008bd0;
        margin-top: -1000px;
        transition:all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    div.search_bar{
        display:none;
    }
    
    
    .container li {
        margin:30px auto;

    }
    
}