:root{
    --darkblue: #00468B;
    --lightblue: #008BD0;
    --lightred: #FF715B;
    --white: #FFFFFF;
    --lightgray: #DFDFDF;
    --twitter: #00acee;
    --twitter-outline: rgb(122, 203, 235);
    --reddit: #FF5700;
    --reddit-outline: #fe9e6d;
    --youtube: #c4302b;
    --youtube-outline: #c46c69;
    --opo_white: #292C35;
    --opo_post: #595b64;
    --opo_shadow: #3b3d46;
    --pink: #E75480;
}

/* elements */
h2.titles{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: var(--white);
    font-size: 1.875rem;
    color: var(--darkblue);
}
h3.title{
    margin: 0vh;
    padding:2.5vh;
    color: black;
}
p.description{ 
    padding: 2.5vh; 
}
h2.twitter{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: var(--white);
    color: var(--twitter)

}
h2.reddit{
    margin-top: 7.5vh;
    margin-bottom: 2.5vh;
    background-color: var(--white);
    color: var(--reddit);

}
h2.youtube{
    margin-top: 7.5vh;
    margin-bottom: 2.5vh;
    background-color: var(--white);
    color: var(--youtube);
}
a.post{
    text-decoration: none;
    color: black;
}

/* homepage */
/* popular works */
section.most_reviewed{
    padding-top: 2.5vh;
    padding-bottom: 5vh;
    padding-left: 0vh;
    padding-right: 0vh;
    background-color: var(--white);

    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
}
div.most_reviewed_post{  
    max-width: 31.6%;
    border: 0.1rem solid var(--darkblue);
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-grow: 1;
}
div.most_reviewed_post:hover{
    box-shadow: 0rem 0rem 0.25rem 0.4rem var(--lightgray);
    outline: 0.2rem outset var(--lightblue);
    transform: scale(1.025);
    transition: 200ms;
}
/* categorized works */
section.Categories{
    padding-top: 0vh;
    padding-bottom: 2.5vh;
    padding-left: 0vh;
    padding-right: 0vh;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    flex-wrap: no wrap;
    
}

div.twitter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
}
div.twitter_post{
    max-width: 31.6%;
    border: 0.1rem solid var(--twitter);
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-grow: 1;
}
div.twitter_post:hover{
    box-shadow: 0rem 0rem 0.25rem 0.4rem var(--lightgray);
    outline: 0.2rem outset var(--twitter-outline);
    transform: scale(1.025);
    transition: 200ms;
}

div.reddit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
}
div.reddit_post{
    max-width: 31.6%;
    border: 0.1rem solid var(--reddit);
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-grow: 1;
}
div.reddit_post:hover{
    box-shadow: 0rem 0rem 0.25rem 0.4rem var(--lightgray);
    outline:0.2rem outset var(--reddit-outline);
    transform: scale(1.025);
    transition: 200ms;
}

div.youtube{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
}
div.youtube_post{
    max-width: 31.6%;
    border: 0.1rem solid var(--youtube);
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-grow: 1;
}
div.youtube_post:hover{
    box-shadow: 0rem 0rem 0.25rem 0.4rem var(--lightgray);
    outline: 0.2rem outset var(--youtube-outline);
    transform: scale(1.025);
    transition: 200ms;
}
div.for_image{
    padding: 2.5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
img.youtube_image{
    max-width: 100%;
    border-radius: 1.5rem;
}

div.see_all{
    padding: 0vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.see_all:hover{
    background: var(--lightgray);
    border-radius: 1.5rem;
    transition: 750ms;
}
a.twitter_see_all{
    text-decoration: none;
    text-align: center;
    color: var(--twitter);
    font-size: 1.25rem;
}
a.reddit_see_all{
    text-decoration: none;
    text-align: center;
    color: var(--reddit);
    font-size: 1.25rem;
}
a.youtube_see_all{
    text-decoration: none;
    text-align: center;
    color: var(--youtube);
    font-size: 1.25rem;
}




/* responsive */
@media (max-width:900px){
    div.most_reviewed_post{
        max-width: 48.3%;
    }
    div.twitter_post{
        max-width: 48.3%;
    }
    div.reddit_post{
        max-width: 48.3%;
    }
    div.youtube_post{
        max-width: 48.3%;
    }
}

@media (max-width:750px){
    div.most_reviewed_post{       
        max-width: 80%;
    }
    div.twitter_post{
        max-width: 80%;        
    }
    div.reddit_post{
        max-width: 80%;
    }
    div.youtube_post{
        max-width: 80%;
    }
    div.see_all{
        width: 100%;
    }
}

@media (max-width: 550px){
    h2.titles{
        text-align: center;
    }
    h2.twitter{
        text-align: center;
    }
    h2.reddit{
        text-align: center;
    }
    h2.youtube{
        text-align: center;
    }
}




/* change theme */
h2.dark-theme-dark-grey{
    background-color: var(--opo_white);
    color: var(--lightgray);
    transition: all 400ms;
}
h2.dark-theme-dark-grey-overlap{
    background-color: var(--opo_white);
    transition: all 400ms;
}
section.dark-theme-dark-grey{
    background-color: var(--opo_white);
    transition: all 400ms;
}
div.dark-theme-grey{
    background-color: var(--opo_post);
    box-shadow: 0rem 0rem 0.25rem 0.2rem var(--opo_shadow);
    transition: all 400ms;
}
div.dark-theme-grey:hover{
    box-shadow: 0rem 0rem 0.25rem 0.4rem var(--opo_shadow);
    transform: scale(1.025);
}
div.dark-theme-grey-overlap{
    background-color: var(--opo_white);
    transition: all 400ms;
}
div.dark-theme-grey-overlap:hover{
    background-color: var(--opo_post);
}
h3.dark-theme-light-grey{
    color: var(--lightgray);
    transition: all 400ms;
}
p.dark-theme-light-grey{
    color: var(--lightgray);
    transition: all 400ms;
}